---
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
templateName: error
---

<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    <section class="error-message">
      <h1 class="error-code">404</h1>
      <p class="error-description">Page not found</p>
      <a class="error-link" href="{{ '/' | url }}">Go to the front page →</a>
    </section>
  </div>
</main>

<aside class="outer">
  <div class="inner">
{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}
  </div>
</aside>
